.article-title {
  font-family: Arial, "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", "Nanum Gothic", Dotum, 돋움, Helvetica,
    sans-serif;
  font-size: 17px;
  color: #95aefc;
}

.article-descr {
  font-family: Arial, "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", "Nanum Gothic", Dotum, 돋움, Helvetica,
    sans-serif;
  font-size: 16px;
  color: #cfcfcf;
}

body {
  background-color: #212121;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

hr {
  opacity: 0.1;
}

.navBtn {
  background-color: #007AFF;
  border: none;
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 16px 8px;
  cursor: pointer;
  border-radius: 6px;
}




.fold {
	/* background: -webkit-linear-gradient(top, #e5e5e5, #ccc); */
	padding: 10px;
	/* width: 280px;
	height: 80px; */
	/* color: #999; */
	/* -webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	transition: all 0.3s linear; */
}

.unfolder { display: none; }

.toggle-label {
	display: inline-block;
	cursor: pointer;
	font-size: 11px;
	border-radius: 5px;
	padding: 5px;
}
.unfold-icon, .fold-icon {
  /* color: #999;   */
  width: 10px;
  display: inline-block;
}
.unfolder ~ .fold {
  display: none;
}
.unfolder ~ label .fold-icon {
  display: none;
}

.unfolder:checked ~ .fold {
  display: block;
}
.unfolder:checked ~ label .fold-icon {
  display: inline-block;
}
.unfolder:checked ~ label .unfold-icon {
  display: none;
}

