.article-title {
  font-family: Arial, "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", "Nanum Gothic", Dotum, 돋움, Helvetica,
    sans-serif;
  font-size: 17px;
  color: #95aefc;
}

.article-descr {
  font-family: Arial, "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", "Nanum Gothic", Dotum, 돋움, Helvetica,
    sans-serif;
  font-size: 16px;
  color: #cfcfcf;
}

body {
  background-color: #212121;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

hr {
    opacity: 0.1;
}
